/* ---------- BOTÕES ---------- */
/*
button {
  padding: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

.btnNovo {
  background: linear-gradient(135deg, #ec4899, #db2777);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 6px 14px rgba(236, 72, 153, 0.35);
  margin-bottom: 1rem;
}

.btnEditar {
  background: #47aca7;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
}

.btnEditar:hover {
  background: #318682;
}

.btnRemover {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
}

.btnRemover:hover {
  background: #dc2626;
}*/

/* ---------- SIDEBAR ---------- */

/* Sidebar */
.sidebar {
  width: 280px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #c9588b;
  color: white;
  overflow-y: auto;
  flex-shrink: 0;
  transition: width 0.5s;
}

.sidebar .nav-link:hover {
  background-color: #3c2948;
  /* cor ao passar o mouse */
  border-radius: 6px;
  margin: 0.2rem;
}

/*------------------------------------------------*/

/* transição suave */
.sidebar {
  width: 260px;
  transition: width 0.3s ease;
}

/* estado fechado */
.sidebar.colapsada {
  width: 70px;
}

.nav-link:hover {
  background: #ffe4ec;
  color: #ec4899 !important;
  padding-left: 12px;
}

.nav-pills .nav-link.active {
  background-color: #3c2948 !important;
  color: #ff6fa5 !important;
  border-radius: 8px;
}

.nav-pills .nav-link.active svg {
  stroke: #ff6fa5;
}

/* ---------- TABELA ---------- */

#tabelaProdutos {
  width: 100%;
  border-collapse: collapse;
}

#tabelaProdutos thead {
  background: linear-gradient(135deg, #c9588b);
}

#tabelaProdutos thead th {
  color: white;
  padding: 14px;
}

#tabelaProdutos tbody tr {
  background: white;
  border-bottom: 1px solid #f1f1f1;
  transition: 0.2s;
}

#tabelaProdutos tbody tr:nth-child(even) {
  background: #fff5f7;
}

#tabelaProdutos tbody tr:hover {
  background: #ffe4ec;
}

#tabelaProdutos td {
  padding: 12px;
  color: #374151;
}

/* centralizar colunas numéricas */

#tabelaProdutos td:nth-child(2),
#tabelaProdutos td:nth-child(3),
#tabelaProdutos td:nth-child(4),
#tabelaProdutos td:nth-child(5),
#tabelaProdutos td:nth-child(6),
#tabelaProdutos td:nth-child(7),
#tabelaProdutos td:nth-child(8) {
  text-align: center;
}


/* animação de troca de página */

.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.25s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease;
}
